<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="app">
        <div class="w-screen h-screen flex flex-col items-center justify-center gap-4 bg-indigo-200 p-2">
            
            <login-component inline-template>

                <title>{{title}}</title>

                <loader-component v-if="showLoader" inline-template>

                    <div class="flex flex-col items-center gap-4 justify-center w-fit">
                        <div class="flex gap-2 items-center justify-center">
                            <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
                            <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
                            <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
                        </div>
                        <div class="flex gap-2 items-center justify-center">
                            <span class="text-indigo-800 font-bold text-xl">Please wait...</span>
                        </div>
                    </div>

                </loader-component>
        
                <form  v-if="!showLoader" class="flex flex-col gap-4 w-fit p-4 rounded-md bg-indigo-300">
        
                    <div class="flex flex-col gap-2 mx-4">
                        <span class="text-indigo-800 text-xl font-bold">¡Bienvenido!</span>
                        <span class="text-indigo-800 text-md font-regular">Para continuar inicie sesión...</span>
                    </div>
        
                    <div class="flex flex-col gap-2 mx-4">
                        <label for="email" class="text-indigo-800 text-md font-bold">Correo electrónico:</label>
                        <input v-model="usuario.email" type="email" class="text-indigo-800 p-2 rounded-md text-md" placeholder="Ex. name@mail.com">
                    </div>
        
                    <div class="flex flex-col gap-2 mx-4">
                        <label for="contrasena" class="text-indigo-800 text-md font-bold">Contraseña:</label>
                        <input v-model="usuario.contrasena" type="password" class="text-indigo-800 p-2 rounded-md text-md" placeholder="XXXXXXXXXX">
                    </div>
        
                    <div class="flex flex-col gap-2 mx-4">
                        <button @click="login()" type="button" class="text-indigo-100 bg-indigo-800 text-md fontt-bold rounded-md p-2 hover:bg-indigo-100 hover:text-indigo-800">Iniciar Sesión</button>
                    </div>
        
                    <div class="flex flex-col gap-2 mx-4 items-center">
                        <small class="text-indigo-800 hover:text-indigo-500">¿Olvidó su contraseña?</small>
                    </div>
        
                </form>

            </login-component>
        </div>
    </div>
    

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/components.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>