<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="app">
        <div class="w-screen h-screen flex flex-col items-center justify-center gap-4 bg-indigo-200 p-2">
            <div class="flex w-full h-full bg-rose-300 py-2">
                <usuarios-component></usuarios-component>
            </div>
        </div>
    </div>


    <!--COMPONENT TEMPLATES-->

    <!--LOADER-->
    <script type="text/x-template" id="loader-template">
        
        <div class="flex flex-col items-center gap-4 justify-center w-fit">
            <div class="flex gap-2 items-center justify-center">
                <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
                <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
                <div class="w-10 h-10 rounded-full p-2 bg-indigo-800 animate-ping"></div>
            </div>
            <div class="flex gap-2 items-center justify-center">
                <span class="text-indigo-800 font-bold text-xl">Please wait...</span>
            </div>
        </div>
        
    </script>
    <!--LOADER-->

    <!--MENU-->
    <script type="text/x-template" id="menu-template">

        <div class="p-2 flex items-center justify-center gap-8  bg-indigo-800 rounded-lg mx-4">

            <div class="flex p-2">
                <span class="text-indigo-100 text-xl font-bold">{{titulo}}</span>
            </div>

            <div class="flex p-2 gap-4">

                <a class="w-32 hover:text-indigo-100 hover:bg-indigo-500 flex item-center justify-center bg-indigo-100 text-indigo-800 text-lg font-bold rounded-lg p-2" 
                v-bind:href="`${item.recurso}.html`" 
                v-for="item in menu" >{{item.recurso.toUpperCase()}}</a>

            </div>

            <div class="flex">

                <div class="flex items-center rounded-md justify-center gap-4 bg-indigo-100 p-2">
                    <div class="w-10 h-10 rounded-full flex items-center justify-center p-2 bg-indigo-500">
                        <span class="text-indigo-800 text-lg font-bold">{{usuario.nombre[0]}}</span>
                    </div>
                    <span class="text-indigo-800 text-md">{{usuario.nombre}}</span>
                    <div @click="logout()" class="hover:bg-rose-500 text-indigo-100 flex rounded-md bg-indigo-500 items-center justify-center p-2">Cerrar Sesión</div>
                </div>
            </div>

        </div>
    </script>
    <!--MENU-->
    
    <!--USUARIOS-->
    <script type="text/x-template" id="usuarios-template">
        <div class="w-full h-full flex flex-col mx-8 gap-8 bg-amber-300">
            <title>Usuarios</title>

            <div class="flex w-full">
                <menu-component></menu-component>
            </div>

            <div class="flex w-full">
                <usuario-component></usuario-component>
            </div>

            <div class="flex w-full items-center justify-center px-4">

                <table class="w-full flex flex-col">
                    <thead class="bg-indigo-800 rounded-md">
                        <tr class=" flex justify-around">
                            <th class="p-2 text-indigo-100 font-bold">Perfil</th>
                            <th class="p-2 text-indigo-100 font-bold">Nombre</th>
                            <th class="p-2 text-indigo-100 font-bold">Usuario</th>
                            <th class="p-2 text-indigo-100 font-bold">E-mail</th>
                        </tr>
                    </thead>
                    <tbody class="bg-indigo-200 rounded-md">
                        <tr v-for="item in listaUsuarios" class="flex justify-around">

                            <td class="p-2 text-indigo-800 font-regular">{{item.perfil}}</td>
                            <td class="p-2 text-indigo-800 font-regular">{{item.nombre}} {{item.a_paterno}} {{item.a_materno}}</td>
                            <td class="p-2 text-indigo-800 font-regular">{{item.usuario}}</td>
                            <td class="p-2 text-indigo-800 font-regular">{{item.email}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </script>
    <!--USUARIOS-->

    <!--USUARIO-->
    <script type="text/x-template" id="usuario-template">
        <span>Componente usuario</span>
    </script>
    <!--USUARIO-->

    <!--COMPONENT TEMPLATES-->
    

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/components.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>